<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greetings</title>
</head>
<body>
    {% load account %} <!-- Загружаем тег который позволит получить нам ссылку на подтверждение -->
    <h1>Welcome to our community, {{ user.username }}!</h1>
    <p>Be creative, be happy, be yourself... or else!<p>
    <img src="https://img.freepik.com/free-photo/half-moon-betta-fish-swimming-on-a-black-surface_23-2148359827.jpg?w=740&t=st=1651126914~exp=1651127514~hmac=dd45f1eb316a131547322d2cc1c64955cf2df1a19dfee09a0b84175e7a28dca3" alt="greetings">
    <h3>Please follow <a href="{{ activate_url }}">the link</a> to activate your account</h3>
     <!-- Вставляем ссылку на активацию -->
</body>
</html>