<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New response to add {{ instance.resp_post }}</title>
</head>
<body>
    <h1>Dear {{ username }}!</h1>
    <p>There is one new response to your add {{ instance.resp_post }}:</p>
    <h2> {{ instance.text }} </h2>
    <h3> {{ instance.resp_time_in|date:"d M Y" }} </h3>
    <p> For more please visit <a href="http://127.0.0.1:8000/ads">our site</a>!</p>
</body>
</html>